@use "sass:color";

// Colors
$primary-blue: #6666ff;
$primary-yellow: yellow;

$button-background-color: $primary-blue;
$button-color: #ffffff;
$button-shadow-color: #bababa;

$background-color: #808080;
$background-color-light: lighten($background-color, 20%);
$primary-background-color: #c5bfc5;
$border-color: color.scale($background-color, $lightness: -50%);
$font-color: #ffffff;

// Border
$border: 2px solid $border-color;
$border-radius: 0.5rem;

// Fonts
$header-font-family: 'Courier New';

$button-font-size: 1rem;
$button-icon-size: $button-font-size * 1.5;
$button-icon-label-gap: 0.25rem;
