// Colors
$primary-blue: #6666ff;
$primary-yellow: yellow;

$button-background-color: $primary-blue;
$button-color: #ffffff;
$button-shadow-color: #bababa;

// Fonts
$header-font-family: 'Courier New';

$button-font-size: 1rem;
$button-icon-size: $button-font-size * 1.5;
$button-icon-label-gap: 0.25rem;
